In [58]:
 # Import Matplot lib
import matplotlib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [59]:
# Pandas
import pandas as pd
    
# SQL Alchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [26]:
# create engine for untappd

untappd_database_path = 'Sqlite_files/untappd.sqlite'
engine = create_engine(f"sqlite:///{untappd_database_path}")
conn = engine.connect()

In [27]:
untappd_data = pd.read_sql('SELECT * FROM untappd', conn)
untappd_data.head()

,,beer,brewery,style,link,abv,rating
0,0,King JJJuliusss,Tree House Brewing Company,IPA - Imperial / Double,/b/tree-house-brewing-company-king-jjjuliusss/...,8.4% ABV,4.74
1,1,Rare Bourbon County Brand Stout (2010),Goose Island Beer Co.,Stout - Imperial / Double,/b/goose-island-beer-co-rare-bourbon-county-br...,13% ABV,4.74
2,2,Bourbon County Brand Stout Vanilla Rye (2014),Goose Island Beer Co.,Stout - Imperial / Double,/b/goose-island-beer-co-bourbon-county-brand-s...,13.6% ABV,4.74
3,3,Proprietor's Bourbon County Brand Stout (2014),Goose Island Beer Co.,Stout - Imperial / Double,/b/goose-island-beer-co-proprietor-s-bourbon-c...,13.2% ABV,4.74
4,4,Beer : Barrel : Time (2018),Side Project Brewing,Stout - Imperial / Double,/b/side-project-brewing-beer-barrel-time-2018/...,15% ABV,4.74

In [47]:
# create engine for beer advocate 
advocate_database_path = 'Sqlite_files/beer_advocate_2017.sqlite'
engine = create_engine(f"sqlite:///{advocate_database_path}")
conn = engine.connect()

In [48]:
inspector = inspect(engine)

In [49]:
inspector.get_table_names()

advocate_data = pd.read_sql('SELECT * FROM beer_advocate_2017_ratings', conn)
advocate_data.head()

,index,brewery_name,beer_name,brewery_beer,beer_style,beer_abv,review_overall
0,0,Vecchio Birraio,Sausa Weizen,Vecchio Birraio Sausa Weizen,Hefeweizen,5.0,1.5
1,1,Vecchio Birraio,Red Moon,Vecchio Birraio Red Moon,English Strong Ale,6.2,3.0
2,2,Vecchio Birraio,Black Horse Black Beer,Vecchio Birraio Black Horse Black Beer,Foreign / Export Stout,6.5,3.0
3,3,Vecchio Birraio,Sausa Pils,Vecchio Birraio Sausa Pils,German Pilsener,5.0,3.0
4,4,Caldera Brewing Company,Cauldron DIPA,Caldera Brewing Company Cauldron DIPA,American Double / Imperial IPA,7.7,4.0

In [51]:
advocate_data.columns=['index','brewery','beer','brewery_beer','style','abv','rating']
advocate_data.head()

,index,brewery,beer,brewery_beer,style,abv,rating
0,0,Vecchio Birraio,Sausa Weizen,Vecchio Birraio Sausa Weizen,Hefeweizen,5.0,1.5
1,1,Vecchio Birraio,Red Moon,Vecchio Birraio Red Moon,English Strong Ale,6.2,3.0
2,2,Vecchio Birraio,Black Horse Black Beer,Vecchio Birraio Black Horse Black Beer,Foreign / Export Stout,6.5,3.0
3,3,Vecchio Birraio,Sausa Pils,Vecchio Birraio Sausa Pils,German Pilsener,5.0,3.0
4,4,Caldera Brewing Company,Cauldron DIPA,Caldera Brewing Company Cauldron DIPA,American Double / Imperial IPA,7.7,4.0

In [67]:
bad_cell = advocate_data[advocate_data['index']==277771].index
bad_cell
advocate_data.drop(bad_cell, inplace=True)
advocate_data.head()

,index,brewery,beer,brewery_beer,style,abv,rating
0,0,Vecchio Birraio,Sausa Weizen,Vecchio Birraio Sausa Weizen,Hefeweizen,5.0,1.5
1,1,Vecchio Birraio,Red Moon,Vecchio Birraio Red Moon,English Strong Ale,6.2,3.0
2,2,Vecchio Birraio,Black Horse Black Beer,Vecchio Birraio Black Horse Black Beer,Foreign / Export Stout,6.5,3.0
3,3,Vecchio Birraio,Sausa Pils,Vecchio Birraio Sausa Pils,German Pilsener,5.0,3.0
4,4,Caldera Brewing Company,Cauldron DIPA,Caldera Brewing Company Cauldron DIPA,American Double / Imperial IPA,7.7,4.0

In [31]:
beer_project_database_path = 'Sqlite_files/beer_project.sqlite'
engine = create_engine(f"sqlite:///{beer_project_database_path}")
conn = engine.connect()

In [32]:
inspector = inspect(engine)

In [33]:
inspector.get_table_names()

['breweries']

In [36]:
beer_project_data = pd.read_sql('SELECT * from breweries', conn)
beer_project_data.head()

,index,name,website,address,city,state
0,0,Patton Block Grill and Brewpub,,88-90 Public Square,Monmouth,MN
1,1,(405) Brewing Co,www.405brewing.com,1716 Topeka St,Norman,MN
2,2,(512) Brewing Co,www.512brewing.com,407 Radam Ln Ste F200,Austin,MN
3,3,10 Torr Distilling and Brewing,www.10torr.com,490 Mill St,Reno,MN
4,4,10-56 Brewing Company,,2120 US-35,Knox,MN

In [54]:
beer_project_data.columns=['index','brewery','website','address','city','state']
beer_project_data.head()

,index,brewery,website,address,city,state
0,0,Patton Block Grill and Brewpub,,88-90 Public Square,Monmouth,MN
1,1,(405) Brewing Co,www.405brewing.com,1716 Topeka St,Norman,MN
2,2,(512) Brewing Co,www.512brewing.com,407 Radam Ln Ste F200,Austin,MN
3,3,10 Torr Distilling and Brewing,www.10torr.com,490 Mill St,Reno,MN
4,4,10-56 Brewing Company,,2120 US-35,Knox,MN

1586614

In [55]:
untappd_data.to_csv('untappd.csv',index=False)

In [70]:
advocate_data.to_csv('advocate.csv',index=False)

In [57]:
beer_project_data.to_csv('brewers_guild.csv',index=False)